* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.Logo {
  font-family: "Albert Sans", sans-serif;
  font-weight: 700;
}


/* 
.home-page-header {
  width: 100%;
  margin-top: 60px;
}

.home-page-hero-content {
  position: relative;
}

.homepage-hero-image {
  width: 100%;
}

.homepage-hero-p {
  position: absolute;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
} */

/* .homepage-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  color: rgb(243, 15, 15);
}
.home-search-bar {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 5px;
}
.home-search-input {
  text-align: center;
  padding: 2px;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid orange;
  -webkit-box-shadow: 2px 3px 9px 2px rgba(0, 0, 0, 0.43);
  box-shadow: 2px 3px 9px 2px rgba(0, 0, 0, 0.43);
} */

.benefits-container {
  width: 100%;
  min-width: 375px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.benefits-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-h3 {
  font-size: 3rem;
}

.benefits-card {
  width: 350px;
  height: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits-icon {
  font-size: 80px;
  margin-bottom: 15px;
}

.benefits-p-header {
  margin-bottom: 10px;
  font-weight: 700;
}

.about-us-container {
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.about-us-h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

@media only screen and (min-width: 360px) {
  /* herocontent: {
    fontsize: "1.5rem";
  } */
  /* .homepage-hero-image {
    height: 250px;
  }

  .homepage-hero-p {
    font-size: 1rem;
    bottom: 25px;
    right: 5px;
    text-align: center;
  } */

  .benefits-h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .benefits-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .benefits-card {
    width: 350px;
    height: 150px;
  }

  .benefits-icon {
    font-size: 75px;
  }

  .benefits-p-header {
    font-size: 1rem;
  }
  .benefits-p {
    display: none;
  }

  .home-icons-section {
    display: none;
  }
  .about-us-p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 414px) {
  .homepage-hero-image {
    height: 250px;
  }

  .homepage-hero-p {
    font-size: 1rem;
    bottom: 15px;
    right: 2px;
    text-align: center;
  }
  .benefits-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .benefits-h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  .about-us-h3 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }

  .home-icons-section {
    display: none;
  }
}

@media only screen and (min-width: 540px) {
  .homepage-hero-image {
    height: 300px;
  }

  .homepage-hero-p {
    font-size: 1.1rem;
    bottom: 50px;
    right: 12px;
  }
  .benefits-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .homepage-hero-image {
    height: 400px;
  }

  .homepage-hero-p {
    font-size: 1.4rem;
    bottom: 70px;
    right: 60px;
  }

  .benefits-h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .benefits-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .benefits-card {
    width: 650px;
    height: 250px;
  }

  .benefits-icon {
    font-size: 100px;
  }

  .benefits-p-header {
    font-size: 1.2rem;
  }
  .benefits-p {
    display: block;
  }
  .about-us-h3 {
    font-size: 2.9rem;
    margin-bottom: 10px;
  }
  .about-us-p {
    font-size: 1.2rem;
  }

  .home-icons-section {
    display: flex;
    gap: 150px;
  }
}
@media only screen and (min-width: 820px) {
  .homepage-hero-image {
    height: 400px;
  }

  .homepage-hero-p {
    font-size: 1.7rem;
    bottom: 60px;
    right: 15px;
    text-align: center;
  }

  .benefits-h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .benefits-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .benefits-card {
    width: 650px;
    height: 300px;
  }

  .benefits-icon {
    font-size: 100px;
  }

  .benefits-p-header {
    font-size: 1.2rem;
  }
  .benefits-p {
    display: block;
  }
  .about-us-h3 {
    font-size: 2.9rem;
    margin-bottom: 10px;
  }

  .about-us-p {
    font-size: 1.2rem;
  }

  .home-icons-section {
    display: flex;
    gap: 170px;
  }
}

@media only screen and (min-width: 912px) {
  .homepage-hero-image {
    height: 450px;
  }

  .homepage-hero-p {
    font-size: 1.7rem;
    bottom: 60px;
    right: 60px;
  }

  .benefits-h3 {
    font-size: 2.7rem;
    margin-bottom: 20px;
  }

  .benefits-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .benefits-card {
    width: 750px;
    height: 300px;
  }

  .benefits-icon {
    font-size: 100px;
  }

  .benefits-p-header {
    font-size: 1.2rem;
  }

  .benefits-p {
    font-size: 1.1rem;
  }

  .about-us-h3 {
    font-size: 2.9rem;
    margin-bottom: 10px;
  }
  .about-us-p {
    font-size: 1.2rem;
  }

  .home-icons-section {
    display: flex;
    gap: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage-hero-image {
    height: 500px;
  }

  .homepage-hero-p {
    font-size: 2rem;
    bottom: 75px;
    right: 45px;
  }

  .benefits-card-container {
    display: flex;
    flex-direction: row;
  }
  .benefits-card {
    width: 300px;
    height: 500px;
  }

  .benefits-h3 {
    font-size: 3rem;
  }

  .benefits-p-header {
    font-size: 1.2rem;
  }

  .benefits-p {
    font-size: 1.1rem;
  }

  .about-us-container {
    margin-top: 30px;
  }

  .about-us-h3 {
    font-size: 3rem;
  }

  .home-icons-section {
    display: flex;
    gap: 250px;
  }
}

@media only screen and (min-width: 1080px) {
  .homepage-hero-image {
    height: 500px;
  }

  .homepage-hero-p {
    font-size: 2.3rem;
    bottom: 50px;
    right: 55px;
  }

  .about-us-container {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .homepage-hero-image {
    height: 550px;
  }

  .homepage-hero-p {
    font-size: 2.5rem;
    bottom: 65px;
    right: 60px;
  }

  .benefits-card-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
  }
  .about-us-container {
    margin-top: 50px;
  }

  .home-icons-section {
    display: flex;
    gap: 300px;
  }
}
