* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-us-hero-container {
  /* height: 500px; */
  background: #eecdb2;
  /* background: linear-gradient(
    90deg,
    rgb(191, 107, 210) 7%,
    rgba(158, 69, 141, 1) 66%,
    rgba(201, 80, 150, 1) 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-hero-p {
  font-size: 3.5rem;
  color: #5722ab;
}

.about-us-mission-div-1,
.about-us-history-div-2 {
  width: 500px;
}

.about-us-mission-div-2,
.about-us-history-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.about-us-mission-h3 {
  font-size: 3.5rem;
  color: #2257ab;
  margin-bottom: 30px;
}

.about-us-mission-p {
  font-size: 1.2rem;
  /* color: #5a125a; */
}
.about-us-mission-container,
.about-us-history-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 120px;
  justify-content: center;
  align-items: center;
  background-color: #fff3e9;
}
.about-us-mission-image {
  height: 500px;
  width: 500px;
}

.about-us-history-image {
  width: 100%;
  height: 100%;
}

.about-us-history-container {
  background-color: #fff3e9;
}

.about-us-history-h3 {
  font-size: 3.5rem;
  color: #2257ab;
  margin-bottom: 30px;
}

.about-us-history-p {
  font-size: 1.2rem;
}

.about-us-team-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.about-us-team-h3 {
  font-size: 3.5rem;
  color: #2257ab;
  margin-bottom: 50px;
}

.about-us-team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.about-us-card {
  width: 20rem;
}

.about-us-team-images {
  width: 100%;
  height: 80%;
}

.about-us-card-text {
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .about-us-hero-container {
    height: 170px;
    padding: 10px;
  }
  .about-us-hero-p {
    font-size: 0.8rem;
    color: rgb(248, 227, 69);
  }

  .about-us-mission-container {
    padding: 12px;
    gap: 0px;
    flex-direction: column;
  }

  .about-us-mission-div-1,
  .about-us-history-div-2 {
    width: 250px;
  }
  .about-us-mission-div-2 {
    width: 280px;
    padding-bottom: 10px;
  }

  .about-us-mission-image {
    height: 250px;
    width: 250px;
    margin-top: 0;
  }

  .about-us-mission-h3,
  .about-us-history-h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .about-us-mission-p,
  .about-us-history-p {
    font-size: 0.7rem;
  }
  .about-us-history-container {
    gap: 25px;
  }

  .about-us-team-h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .about-us-card {
    width: 10rem;
  }
}

@media only screen and (min-width: 600px) {
  .about-us-card {
    width: 15rem;
  }

  .about-us-hero-container {
    height: 300px;
  }
  .about-us-hero-p {
    font-size: 1.5rem;
    /* color: rgb(248, 227, 69); */
  }
}

@media only screen and (min-width: 768px) {
  .about-us-hero-container {
    height: 400px;
  }
  .about-us-hero-p {
    font-size: 2rem;
    /* color: rgb(248, 227, 69); */
  }
}
@media only screen and (min-width: 840px) {
  .about-us-card {
    width: 20rem;
  }
}

@media only screen and (min-width: 992px) {
  .about-us-card {
    width: 20rem;
  }
}

@media only screen and (min-width: 1080px) {
  .about-us-card {
    width: 22rem;
  }
  .about-us-hero-p {
    font-size: 2.5rem;
    /* color: rgb(248, 227, 69); */
  }
}
@media only screen and (min-width: 1176px) {
  .about-us-card {
    width: 15rem;
  }
  .about-us-hero-p {
    font-size: 3rem;
    /* color: rgb(248, 227, 69); */
  }
}
