.task-container {
  background-color: #fff3e9;
  width: 100vw;
  height: 100vh;
}

.task-form {
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ff8e25;
  gap: 5px;
  width: 75%;
  margin: 5rem auto;
  border-radius: 10px;
}

.task-input-div {
  border: none;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.task-input {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.task-input-1 {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-weight: 600;
}
.select {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.option-input {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  color: green;
}

.task-btn {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  background-color: white;
}
