.task-form {
  border: 2px solid red;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: rgb(169, 3, 41); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  gap: 5px;
  width: 75%;
  margin: 5rem auto;
  border-radius: 10px;
}

.task-input-div {
  border: none;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.task-input {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.select {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.option-input {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  color: green;
}
