.task-container {
  background-color: #fff2ea;
  width: 50%;
  margin: 0 auto;
  height: 40rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.43);
}

.task-form {
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #018f8c;
  gap: 5px;
  width: 75%;
  margin: 5rem auto;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 12px 2px rgba(0, 0, 0, 0.43);
  box-shadow: 2px 3px 12px 2px rgba(0, 0, 0, 0.43);
}

.task-input-div {
  border: none;
  text-align: center;
  padding: 12px;
  width: 100%;
  
}
.task-input {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  height:40px;
}
.task-input-1 {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-weight: 600;
}
.select {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.option-input {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  color: black;
}

.task-btn {
  width: 90%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  color: white;
  background-color: #ff7e36;
}


.add-task-scroller-container {
  /* height: 200px; */
}
.add-task-h1 {
  color: black;
  font-size: 5rem;
  font-family: "Albert Sans", sans-serif;
}
/* Scroller styling */
.add-task-scroller {
  height: 3.5em;
  line-height: 1.5em;
  position: relative;
  margin-top: 10rem;
  overflow: hidden;
}
.add-task-scroller > span {
  position: absolute;
  top: 10;
  left: 25rem;
  animation: slide 5s infinite;
  font-weight: bold;
  color: black;
  font-size: 3rem;
  font-family: "Albert Sans", sans-serif;
  height: 3em;
  line-height: 1.5em;
  padding: 2rem;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

@media only screen and (min-width: 360px) {
  .add-task-scroller-container {
    height: 60px;
    margin-top: 100px;
  }
  .add-task-h1 {
    font-size: 2rem;
  }
  .add-task-scroller > span {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 375px) {
  .add-task-scroller-container {
    height: 110px;

    margin-top: 80px;
  }
  .add-task-h1 {
    font-size: 2rem;
    margin-top: 60px;
  }
  .add-task-scroller > span {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 390px) {
  .add-task-scroller-container {
    height: 130px;
    margin-top: -80px;
  }
  .add-task-h1 {
    font-size: 2rem;
  }
  .add-task-scroller > span {
    font-size: 2rem;
  }
  .addtask-box {
    margin-bottom: -120px;
  }
}

@media only screen and (min-width: 414px) {
  .add-task-scroller-container {
    height: 130px;
    margin-top: -80px;
  }
  .add-task-h1 {
    font-size: 2rem;
  }
  .add-task-scroller > span {
    font-size: 2rem;
  }
  .add-task-box {
    margin-bottom: -130px;
  }
}

@media only screen and (min-width: 540px) {
  .add-task-scroller-container {
    height: 200px;
    margin-top: 180px;
  }
  .add-task-h1 {
    font-size: 3rem;
  }
  .add-task-scroller > span {
    font-size: 3rem;
  }
  .add-task-box {
    margin-bottom: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .add-task-scroller-container {
    height: 250px;
  }
  .add-task-h1 {
    font-size: 4rem;
  }
  .add-task-scroller > span {
    font-size: 4rem;
  }
  .add-task-box {
    margin-bottom: -150px;
  }
}
@media only screen and (min-width: 820px) {
  .add-task-scroller-container {
    height: 250px;
  }
  .add-task-h1 {
    font-size: 4rem;
  }
  .add-task-scroller > span {
    font-size: 4rem;
  }
  .add-task-box {
    margin-bottom: -150px;
  }
}

@media only screen and (min-width: 912px) {
  .add-task-scroller-container {
    height: 350px;
    margin-top: -170px;
  }
  .add-task-h1 {
    font-size: 5rem;
  }
  .add-task-scroller > span {
    font-size: 5rem;
  }
  .add-task-box {
    margin-bottom: -150px;
  }
}

@media only screen and (min-width: 1024px) {
  .add-task-scroller-container {
    height: 350px;
    margin-top: 450px;
  }
  .add-task-h1 {
    font-size: 5rem;
  }
  .add-task-scroller > span {
    font-size: 5rem;
  }
  .add-task-box {
    margin-bottom: 450px;
  }
}

@media only screen and (min-width: 1080px) {
}
@media only screen and (min-width: 1280px) {
  .add-task-scroller-container {
    height: 350px;
    margin-top: 100px;
  }
  .add-task-h1 {
    font-size: 5rem;
  }
  .add-task-scroller > span {
    font-size: 5rem;
  }
  .add-task-box {
    margin-bottom: 200px;
  }
}
