/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

footer {
  background-color: #fef2ea;
  box-shadow: 0px 0px 15px 5px rgba(204, 200, 204, 0.78);
  border-radius: 5px;
}
.footer-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 350px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-h3 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
}

.footer-p {
  font-size: 1.7rem;
}

/* .footer-logo {
  height: 250px;
  width: 250px;
} */

.footer-apps-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-socials {
  display: flex;
  margin-top: 20px;
}

.footer-apps {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 360px) {
  .footer-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 350px;
  }
  .footer-h3 {
    font-size: 1.8rem;
  }
  .footer-p {
    font-size: 1.2rem;
    width: 204px;
  }

  .footer-socials {
    display: flex;
    gap: 20px;
  }
  .social {
    height: 30px;
    width: 30px;
  }

  .footer-apps {
    display: flex;
    gap: 20px;
  }
}

@media only screen and (min-width: 414px) {
  .footer-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
  }
  .footer-h3 {
    font-size: 2.5rem;
  }
  .footer-p {
    font-size: 1.2rem;
    width: 204px;
  }
  .footer-copyright {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 540px) {
  .footer-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
  }
  .footer-apps-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .footer-copyright {
    /* margin-top: 40px; */
  }
}

@media only screen and (min-width: 768px) {
  footer {
    height: 350px;
  }
  .footer-h3 {
    font-size: 3.5rem;
  }
  .footer-p {
    font-size: 1.8rem;
    width: auto;
  }

  .footer-apps-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .footer-copyright {
    margin-top: 30px;
  }
  .social {
    height: 35px;
    width: 50px;
  }
}
@media only screen and (min-width: 820px) {
  .footer-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 340px;
  }
  .footer-h3 {
    font-size: 3.5rem;
  }
  .footer-p {
    font-size: 1.8rem;
    width: auto;
  }

  .footer-apps-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 912px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1080px) {
}
@media only screen and (min-width: 1280px) {
}
