.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 375px; /* iPhone screen width */
  height: 667px; /* iPhone screen height */
  border-radius: 36px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.card-header {
  width: 100%;
  height: 40px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
}
.card-body {
  width: 335px;
  height: calc(100% - 80px);
  background-color: #ffffff;
  padding: 20px;
  overflow-y: hidden;
  z-index: 1;
}
.card-body:hover {
  overflow-y: scroll;
}
.card-footer {
  width: 100%;
  height: 40px;
  background-color: #000000;
  border-top: 1px solid #e8e8e8;
  z-index: 0;
}
.profile-container {
  display: flex;
  text-align: start;
  justify-content: space-between;
  align-items: center;
}
.list-container {
  display: flex;
  text-align: start;
  justify-content: space-between;
  align-items: center;
  row-gap: 10px;
  border: #ff842b 2px solid;
  border-radius: 22px;
  background: #d0e7fe;
  color: #2d7bd8;
  font-weight: bold;
  margin: 10px;
}
ul {
  text-align: start;
  justify-content: space-around;
  margin-left: 15px;
}
li {
  margin: 10px 0;
  justify-content: space-between;
  border-bottom: #ff842b solid 1px;
}
.btn {
  margin-top: 50px;
}
.btn:hover {
  background-color: #a08986;
  color: #ff842b;
}
.color-1 {
  background-color: #a08986;
  color: #fff;
}
.color-2 {
  background-color: #ff842b;
  color: #fff;
}
.color-3 {
  background-color: #2d7bd8;
  color: #fff;
}
.color-4 {
  background-color: #d0e7fe;
  color: #2d7bd8;
}
.color-5 {
  background-color: #000000;
  color: #ffeded;
}
.color-6 {
  background-color: #2d7bd8;
  color: #ff842b;
}
