.tasklist-container {
  background-color: #fff2ea;
  width: 100vw;
}

.list-form {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #018f8c;
  width: 75%;
  margin: 5rem auto;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 12px 2px rgba(0, 0, 0, 0.43);
  box-shadow: 2px 3px 12px 2px rgba(0, 0, 0, 0.43);
}
.list-link {
  color: black;
  text-align: center;
  display: flex;
}
.list-input-div {
  border: none;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.task-input {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}
.list-input-1 {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  color: #303f9f;
  font-weight: 600;
  margin-bottom: 2px;
}
.list-main {
  background-color: #fff2ea;
  border-radius: 10px;
}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.list-input {
  border: 1px solid #ff8e25;
  border-radius: 10px;
  text-align: center;
  margin-top: 2rem;
  padding: 5px;
  -webkit-box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.43);
  box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.43);
}
.search-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.search-list-1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.dash-btn {
  background-color: #ff8e25;
  color: #303f9f;
  padding: 5px;
  border-radius: 10px;
}
.dash-btn:hover {
  background-color: #303f9f;
  color: #ff8e25;
  font-size: 1.2rem;
}
.filter {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.list-btn-1 {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 5px;
}
.list-btn-2 {
  margin: 5px;
  color: #303f9f;
  padding: 5px;
  font-size: 2.5rem;
  cursor: pointer;
}
.list-btn-2:hover {
  color: aliceblue;
  font-size: 2.5rem;
}

.selected {
  color: red;
}

.deselected {
  color: rgb(42, 168, 38);
}
.error-message {
  text-align: center;
  padding: 5px;
}
